* { padding: 0; margin: 0; background-color: #f5f5f5}

h2 { color: #4c495a }
h1 { color: #4c495a }

.nav li {list-style-type: none; display: inline-block;}
.nav li a { color: black; font-family: baskerville }

@keyframes heartbeat {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}

#heart {
  width: 100px;
  height: 60px;
  animation: heartbeat 1s infinite;
  margin: auto;
  position: relative;
  display: inline-block;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #e2d4d4;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.lines {
	border-style: solid;
	border-color: #ca8799;
}

footer { font-family: 'Lora', serif; font-size: 15px; margin-top: 10px; color: #4c495a; height: 40px; background-color: #e2d4d4; line-height: 40px; text-align: center; font-size: 12px; }
footer a { color: #013243; text-decoration: none; }
